<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-floating mb-3">
    <%= form.text_field :first_name, class:'form-control', placeholder: :first_name %>
    <%= form.label :first_name, class:'form-label' %>
  </div>

  <div class="field form-floating mb-3">
    <%= form.text_field :last_name, class:'form-control', placeholder: :last_name %>
    <%= form.label :last_name, class:'form-label' %>
  </div>

  <div class="field form-floating mb-3">
    <%= form.text_field :email, class:'form-control', placeholder: :email %>
    <%= form.label :email, class:'form-label' %>
  </div>

  <div class="field form-floating mb-3">
    <%= form.text_field :phone, class:'form-control', placeholder: :phone %>
    <%= form.label :phone, class:'form-label' %>
  </div>

  <div class="field form-floating input-group mb-3">
    <span class="input-group-text">@</span>
    <%= form.text_field :twitter, class:'form-control', placeholder: :twitter %>
    <%= form.label :twitter, class:'form-label', style:'padding-left:3.5em;' %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :friend_user_id, value: current_user.id %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
